<% layout('layouts/boilerplate.ejs') %>
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add</a>
    </div>
        <% for (let Campground of campgrounds) {%>
            <!-- <li>
                <a href="campgrounds/<%=Campground._id %>"> <%= Campground.title %></a>
            </li> -->
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="<%=Campground.image[0].url %>">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= Campground.title %>
                            </h5>
                            <p class="card-text">
                                <%= Campground.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= Campground.location %>
                                </small>

                            </p>
                            <a href="/campgrounds/<%= Campground._id %>" class="btn btn-primary">
                                View <%= Campground.title %>
                            </a>
                        </div>
                    </div>                    
                </div>
            </div>
        <% } %>
